export CS_DATABASE_URL=postgres://codesearch:codesearch@localhost:5432/codesearch?sslmode=disable
export CSE_LICENSE_PUBLIC_KEY=dY10s6DaWqfC2j0gm5D9Lg1rQHUsR24eMk-5wBcS3YM
export CSE_LICENSE_PRIVATE_KEY=c6AHONkQBmSVXdjQwLu-u_-6IDSnLyXaFxSGIlvjAGB1jXSzoNpap8LaPSCbkP0uDWtAdSxHbh4yT7nAFxLdgw
export CSE_LICENSE_KEY=eyJjdXN0b21lcl9uYW1lIjoiVGVzdGVyaW5vIiwibWF4X3VzZXJzIjoxLCJmZWF0dXJlcyI6WyJzc28iLCJyYmFjIiwiYXVkaXQiXSwiZXhwaXJlc19hdCI6IjIwMjctMDItMjFUMTE6NTg6NDJaIiwiaXNzdWVkX2F0IjoiMjAyNi0wMi0yMVQxMTo1ODo0MloifQ.8NIp8QTeTx5Q5k7izegUJZ8v4GFw8i93Rh_eUpcq8DyqNcYPIoiJvX-HhKqBgAQeLVJdtzFi39RHN4H_TQ79DA

# SSO
export CSE_OIDC_ISSUER="https://c60bdb2288bf0cd87c59a9c62db24e3671e80d115292bb2f45dc43c7335b6b0.techquests.dev/realms/internal"
export CSE_OIDC_CLIENT_ID=code-search
export CSE_OIDC_CLIENT_SECRET=jHDplHRSILfcDiHpksCdkl7gRXu5UMIu
export CSE_OIDC_REDIRECT_URL="http://localhost:8080/api/v1/auth/callback"
export CSE_SESSION_SECRET=f60b77d81bb104997b00735b14cd0b8aec6f129659cabfe9951d861cc25fd22b
export CSE_SESSION_DURATION="24h"
export CSE_COOKIE_SECURE="false"
export CSE_REDIRECT_AFTER_LOGIN=http://localhost:3000/
export CSE_ALLOWED_ORIGINS=http://localhost:3000
